html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

header,
footer {
    background-color: #F77B7B;
    color: white;
    text-align: center;
    -webkit-box-shadow: -3px 11px 15px 5px #9D9D9D;
    box-shadow: -3px 11px 15px 5px #9D9D9D;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#canvas {
    background-color: black;
    border: solid 20px white;
    border-radius: 10px;
    -webkit-box-shadow: -3px 11px 15px 5px #9D9D9D;
    box-shadow: -3px 11px 15px 5px #9D9D9D;
    height: 450px;
    width: 900px;
}

button {
    padding: 10px;
    background-color: #F77B7B;
    color: white;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 20px;
}

#score {
    font-size: 20px;
    text-align: center;
}

.launch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explain {
    margin-top: 20px;
}